.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.users__list {
  width: 700px;
  margin: 20px 0;
}
.users__list button {
  margin: 0 10px
}
.users__table {
  width: 700px;
  margin-top: 20px;
  max-height: 600px;
  overflow: auto;
}
.users-header__remove {
  margin-left: auto;
}

.users-header__button-toolbar button:not(:last-child) {
  margin-right: 10px;
}